
main{width: 100%; padding: 130px 0;}
.main-top {display: flex; justify-content: space-between;}
.uk-select{width: 180px}
.uk-container{ width: 1000px !important;}
/*.main-top > .region > select {padding: 10px 50px 10px 0; border-radius: 5px;}*/
select:focus {outline: none; }
.uk-card {cursor: pointer;}
.uk-card-media-top {height: 200px; overflow: hidden; display: flex; align-items: center;} 
.uk-card-media-top > img {}
.uk-card-title {margin: 0 !important}
.uk-card-body {display: flex; flex-direction: column; justify-content: center; padding: 15px 40px;}
.uk-card-body > h4 {font-size: 20px; margin: 5px}
.uk-card-body > .price {font-weight: 500; margin: 0}
.uk-card-body > .regDate {font-size: 12px; margin: 0 0 0 0 !important;}
.uk-card-body > .like, .city {font-size: 14px; margin: 0 0 5px 0 !important;}



footer{width: 100%; background: #333; height: 64px;}