@charset 'UTF-8';
*{margin: 0; padding: 0; box-sizing: border-box;}
body{color: #333; background: #fff;}
a{text-decoration: none !important; color: #333;}

img {
  max-width: 100%;
  border: 0 none transparent;
  margin: 0; padding: 0;
}
label {
  cursor: pointer;
}
ol,ul,li {
  list-style: none;
  margin: 0; padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body, html {font-family: "Noto Sans KR"; font-weight: 300; }

#wrap{width: 100%;}
header{width: 100%; padding: 10px 0; position: fixed; background: #fff; z-index: 999; box-shadow: 0 0 10px #ccc;} 
#header-inner{max-width: 1200px;margin: 0 auto;align-items: center;display: flex;justify-content: space-between;}
#navi{display: flex;align-items: center;}
#logo img{width: 170px;margin-right: 20px;}
nav>ul{display: flex;}
nav>ul>li>a{padding: 10px 5px;font-weight: 600; font-size: 16px;}
nav>ul>li>a:hover{color: #d05300;}
#search{display: flex;}
#search>span{margin-right: 10px; height: 40px}
.chat{width: 320px}

main{width: 100%; padding: 160px 0;}

.uk-card-media-top {height: 200px} 
.uk-card-media-top > img {height: 200px;}
.uk-card-body {display: flex; flex-direction: column; justify-content: center; padding: 15px 40px;}
.uk-card-body > h4 {font-size: 20px; margin: 5px}
.uk-card-body > .price {font-weight: 500; margin: 5px}
.uk-card-body > .regDate {font-size: 12px; margin: 0 0 0 0 !important;}
.uk-card-body > .like, .city {font-size: 14px; margin: 0 0 5px 0 !important;}


.uk-container{ width: 1000px !important;}

