.uk-section-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgb(255, 255, 185), rgb(255, 151, 121, 0.7));
}

.uk-logo {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 46px;
  padding-top: 0px;
  font-size: 1px;
  line-height: 1px;
  color: transparent;
  background-size: contain !important;
  background: url(../img/logo_new.png) left 3px no-repeat;
}

.uk-digi-logo {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 100%;
  padding-top: 0px;
  font-size: 1px;
  line-height: 1px;
  color: transparent;
  background-size: contain !important;
  background: url(../img/digi_logo.png);
  background-repeat: no-repeat;
  background-position-y: center;
}

.uk-card-default {
  border-radius: 10px;
  width: 500px;
  /* border: solid 1px #ccc; */
}

.uk-login-img {
  background: linear-gradient(#e9eef4, #f3f7fa);
  border-radius: 10px 0 0 10px;
}

.uk-login-img + div {
  border-left: 1px solid #ccc;
}

.login-bg {
  background: url(../img/login_bg.jpg);
  background-size: contain;
  background-position-y: 50%;
  background-position-x: 50%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}

.uk-button {
  background-color: #5182e4;
  color: #fff;
  font-weight: bold;
}

.uk-button:hover {
  background-color: #3d68d4;
}

h2 > img {max-width: 40%;}

#findUserData li:not(:first-child) {
    margin-left: 21px;
    position: relative;
}
#findUserData li:not(:first-child)::after {
    content: "";
    width: 1px;
    height: 16px;
    transform: translateY(-50%);
    top: 12px;
    position: absolute;
    background : #333;
    left: -11px;
}


.modal{
	position: absolute;
	top:50%; left:50%;
	transform: translate(-50%, -50%);
	width: 329px;
	background-color: #fff;
	border-radius: 20px;
	z-index: 2;
	overflow: hidden;
	display: none;
}
.modal-inner{
	padding: 30px 24px 58px;
	position: relative;
}
.modal-title{
	margin-bottom: 20px;
    padding: 30px 0 14px;
    border-bottom: 1px solid #303038;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: -.8px;
    color: #1e1e23;
    word-break: break-all;
}
#modalBackground{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0; left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 1;
	display: none;
}
.modalBtns{
	position: absolute;
	left: 0; bottom: 0;
	width: 100%;
	display: flex;
	color: #fff
}
.modalBtns input:first-child {
	background: #ccc;
}
.modalBtns .passwordUpdateBtn {
	background: #FF8A3D;
}
.modalCloseBtn{
	position: absolute;
	right: 20px; top: 20px;
	cursor: pointer;
}

.highlight{
	color: #FF8A3D;
}
