body, html {background: #ffffe6;font-family: "Noto Sans KR"; font-weight: 300; }
h4 {font-family: "Noto Sans KR"; font-weight: 500;}
h2 > img {max-width: 50%;}
.uk-container-xsmall {width: 500px !important; height:auto; margin: 50px auto; padding: 50px; background-color: #fff; box-shadow: 3px 5px 10px #ccc;}
.uk-inline  { width: 100vw; display: flex; gap: 10px;}



.uk-input, .uk-textarea{border-radius: 10px}


















.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #999;
}
.dropzone:hover {
  background-color: #f2f2f2;
}
.dropzone.active {
  border-color: #008000;
  background-color: #f2fff2;
}
.image-preview {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin-top: 20px;
}
.image-preview img {
  max-width: 150px;
  max-height: 150px;
  margin: 5px;
}
   