<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>당근-마이페이지</title>
<!--제이쿼리 추가-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!-- Ajax처리를 위한 포함 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- 구글아이콘 사용 -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />

<link href="/css/header.css" rel="stylesheet">
<style type="text/css">
	main{margin: auto; padding-top: 76px; width: 800px; position: relative;}
	
	#content {padding: 30px 0;}
	#content p {margin-top: 0;}
	#content table {width: 100%;}
</style>
</head>
<body>
	<div id="wrap">
		<th:block th:insert="~{indexHeader.html}"></th:block>
		<main>
			<div id="content">
				<div>
					<h2>탈퇴 안내</h2>
					<p><em>회원탈퇴</em>를 신청하기 전에 안내 사항을 꼭 확인해주세요.</p>
				</div>
				<div>
					<h3 style="margin-bottom: 5px;">
				    	사용하고 계신 아이디(<em>[[${user.username}]]</em>)는 탈퇴할 경우 <em>복구가 불가능</em>합니다.
				    </h3>
					<p class="dropout_dsc">
						<em>신중</em>하게 선택하시기 바랍니다.
					</p>
					<h3 class="h_dropout">탈퇴 후 회원정보 및 개인형 서비스 이용기록은 모두 삭제됩니다.</h3>
					<p class="dropout_dsc">
						회원정보 및 중고거래 타인과의 채팅 등 개인형 서비스 이용기록은 모두 삭제되며, 삭제된 데이터는 복구되지 않습니다.
					</p>
					<table cellspacing="0" border="1" summary="탈퇴 후 회원정보 및 개인형 서비스 이용기록 삭제 안내" class="tbl_type">
						<caption><em>탈퇴 후 회원정보 및 개인형 서비스 이용기록은 모두 삭제됩니다.</em></caption>
						<colgroup>
							<col width="145"><col width="*">
						</colgroup>
						<tbody id="tblBullet1"> 
							<tr style="display: table-row;">
								<th scope="row">중고거래</th>
								<td>게시글 삭제</td>
							</tr>
							<tr style="display: table-row;">
								<th scope="row">채팅</th>
								<td>채팅목록 및 채팅내역 삭제</td>
							</tr>
				            <tr style="display: table-row;">
				                <th scope="row">유저평</th>
				                <td>유저평 삭제</td>
				            </tr>
						</tbody>
					</table>
					<input type="hidden" name="idx" id="userIdx" th:value="${user.idx}">
					<div class="dropout_agree_area">
						<p class="contxt">
							<strong><em>탈퇴 후에는 데이터는 복구할 수 없습니다.</em></strong>
						</p>
						<input type="checkbox" id="deleteCheck">
						<label for="deleteCheck"><strong>안내 사항을 모두 확인하였으며, 이에 동의합니다.</strong></label>
					</div>
					<div style="text-align: center; margin-top: 30px;">
						<input type="button" id="deleteBtn" class="uk-button uk-button-danger" style="cursor: pointer; border-radius: 10px;" value="확인">
					</div>
				</div>
			</div>
		</main>
	</div>
	
	<script type="text/javascript">
	$(function(){
	    $("#deleteBtn").click(function(){
	        if ($("#deleteCheck").is(":checked")) { // 체크 버튼이 체크되었는지 확인
	        	let result = confirm('정말로 회원 탈퇴를 하시겠습니까?');
	        	if(result){
	        		axios.post("/member/leave/termsOk", {
	        			'idx': $("#userIdx").val(),
	        		})
	        		.then(res => {
	        			if(res.data == 1){
	        				alert('회원탈퇴가 성공적으로 이루어 졌습니다.');
	        				location.href = '/';
	        			} else {
	        				alert('오류가 발생했습니다. 잠시후 다시 시도해주세요.');
	        				location.href = '/member/leave/terms';
	        			}
	        		})
	        		.catch(e => {
	        			console.error(e);
	        		})
	        	}
	        } else {
	            alert("동의 사항을 확인해주세요.");
	        }
	    });
	});
	</script>
</body>
</html>