<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>관리자-게시판관리</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- UIkit CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
	<link rel="stylesheet" href="/css/admin/header.css">
    <style type="text/css">
		.subtitle {
			font-size: 24px;
		}
		.xBox{
			margin-bottom: 70px;
		}
		.btn-right{text-align: right;}
		.uk-table td{padding: 8px 10px;}
		.uk-table th{border: 1px solid #ccc; padding: 10px; font-weight: 700; text-align: center; vertical-align: middle;}
		.uk-table td{text-align: center;vertical-align: middle;}
		.uk-table .content{
			text-align: left;
			-webkit-line-clamp: 4; /* 라인수 */
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.uk-table .title{ max-width: 500px;text-align: left;overflow: hidden;text-overflow: ellipsis;}
    </style>
</head>
<body>
<input type="hidden" id="categoryNum" th:value="${categoryNum}"/>
<div id="wrap">
    <div id="content">
    	<!-- header -->
    	<th:block th:insert="~{/admin/header.html}"></th:block>
    	
	    <div style="padding-top: 50px;">
	    	<!-- leftArea -->
	    	<th:block th:insert="~{/admin/leftArea.html}"></th:block>
	    	
	        <div id="right-area">
	        	<h3>게시판관리</h3>
	        	<div style="display: flex; justify-content: end; align-items: center;">
					<label style="margin-right:10px;">검색</label>
					<form action="" method="get">
						<div class="uk-inline">
				            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
				            <input name="search" class="uk-input" type="text" autocomplete='off' aria-label="Not clickable icon" placeholder="검색어를 입력해주세요">
				        </div>
					</form>
	        	</div>
	        	<table id="incident_list_table" class="uk-table uk-table-hover uk-table-divider uk-table-middle uk-table-small">
					<colgroup>
						<col width="45px" />
						<col width="90px" />
						<col width="90px" />
						<col width="200px" />
						<col width="200px" />
						<col width="95px" />
						<col width="60px" />
						<col width="60px" />
						<col width="60px" />
						<col width="120px" />
					</colgroup>
					<thead>
						<tr>
							<th>No</th>
				            <th>카테고리</th>
				            <th>상품상태</th>
				            <th>제목</th>
				            <th>판매장소</th>
				            <th>작성자</th>
				            <th>조회수</th>
				            <th>좋아요</th>
				            <th>채팅수</th>
				            <th>게시일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.isEmpty(pv.list)}">
							<td colspan="8">등록된 글이 없습니다.</td>
			    		</tr>
							<tr th:each="board, vs : ${pv.list}" th:onclick="view([[${board.idx}]])" style="cursor: pointer;">
								<td>[[${pv.totalCount - (pv.currentPage-1)*pv.sizeOfPage - vs.index}]]</td>
								<td>[[${board.categoryName}]]</td>
					    		<td>[[${board.statusName}]]</td>
					    		<td style="max-width: 500px;text-align: left;overflow: hidden;text-overflow: ellipsis;">[[${board.subject}]]</td>
					    		<td>[[${board.loc}]]</td>
					    		<td>[[${board.member.nickName}]]</td>
					    		<td>[[${board.readCount}]]</td>
					    		<td>[[${board.countLike}]]</td>
					    		<td>[[${board.chatRoomCount}]]</td>
					    		<td>[[${#dates.format(board.regDate, 'yy.MM.dd')}]]</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<div id="page" style="display: flex; align-items: center;justify-content: center;">
					[(${pv.pageList})]
				</div>
	        </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	$(function(){
		let categoryNum = $("#categoryNum").val();

	    $("#page a").click(function(e){
	    	e.preventDefault();
	    	content = ""
	    	const pageNum = $(this).text();
	    	if(categoryNum == null){
	        	content = `?p=${pageNum}`
	        } else {
	        	content = `?p=${pageNum}&categoryNum=${categoryNum}`
	        }
	      	location.href = content;
		})
	})


	function view(idx) {
	    window.open(`/fleamarketDetail/${idx}`, '_blank');
	}
	

</script>
</body>
</html>
