<div id="leaf-area">
    <ul>
        <li>
            <label>회원 관리</label>
            <ul>
                <li><a href="/adm/userManagement">회원 관리</a></li>
                <li><a href="/adm/mailToUser">회원 메일 발송</a></li>
                <li><a href="/adm/user-roles">회원 권한 수정</a></li>
                <li><a href="/adm/userTrendAnalysis">회원 동향 분석</a></li>
            </ul>
        </li>
        <li>
            <label>게시물 관리</label>
            <ul>
                <li><a href="/adm/bestPost">인기 게시물</a></li>
                <li><a href="/adm/boardManagement">게시판 관리</a></li>
            </ul>
        </li>
        <li>
            <label>1:1 문의</label>
            <ul>
                <li><a href="/adm/Qnas">1:1 문의 사항</a></li>
            </ul>
        </li>
        <li>
            <label>공지사항관리</label>
            <ul>
                <li><a href="/adm/notices">공지사항보기</a></li>
                <li><a href="/adm/noticeUpload">공지사항쓰기</a></li>
            </ul>
        </li>
    </ul>
</div>