<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>상품상세보기</title>
<!--제이쿼리 추가-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap">
<!-- 카카오맵 api -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fa04a00338cccad468f169754f5e7cc6&libraries=services"></script>
<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/fleamarket/fleamarketDetail.css">
<script src="/js/fleamarket/fleamarketDetail.js"></script>
</head>
<body>
	<input type="hidden" id="boardIdx" th:value="${board.idx}">
	<div id="wrap">
		<th:block th:insert="~{/header.html}"></th:block>
		<main>
			<div class="uk-container">
				<div uk-slider>
				    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
				        <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-1@m">
				        	<th:block th:each="img : ${board.boardFileList}">
				        		<li><img th:src="'/upload/' + ${img.saveFileName}" alt="" /></li>
				        	</th:block>
				        </ul>
				        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slider-item="previous"></a>
				        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slider-item="next"></a>
				    </div>
				    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
				    
				    
				    <div class="uk-card uk-card-default uk-width-1-1@m">
					    <div class="uk-card-header">
					        <div class="uk-grid-small uk-flex-middle" uk-grid>
					            <div class="uk-width-auto" style="padding:0;width: 40px;height:40px;display: flex;align-items: center;justify-content: center;border-radius: 50%;background: #333;overflow: hidden;">
					                <img th:if="${board.member.userFile == null}" class="uk-border-circle" src="/img/user.png" alt="user">
					                <img th:if="${board.member.userFile != null}" class="uk-border-circle" th:src="'/upload/' + ${board.member.userFile.saveFileName}" alt="user">
					            </div>
					            <div class="uk-width-expand" id="board-head-line">
					            	<div>
						                <h4 class="uk-card-title uk-margin-remove-bottom">[[${board.member.nickName}]]</h4>
						                <p>[[${board.loc}]]</p>
					            	</div>
									<div>
										평점 : [[${board.member.userVal}]]
									</div>
					            </div>
					        </div>
					    </div>
					    
					    <div class="hr"></div>
					    
					    <div class="uk-card-body">
					    	<input type="hidden" id="boardStatusNum" th:value="${board.statusRef}">
					    	<th:block th:if="${session.user != null && session.user.idx == board.userRef && board.statusRef == 1}">
					    		<select class="uk-select" name="" id="statusChange" style="margin-bottom: 15px; width: 25%;">
					    			<option value="1" th:selected="${board.statusRef == 1}">판매중</option>
					    			<option value="2" th:selected="${board.statusRef == 2}">예약중</option>
					    			<option value="3" th:selected="${board.statusRef == 3}">판매완료</option>
					    		</select>
					    	</th:block>
					    	<h3 class="uk-card-title uk-margin-remove-bottom" style="margin: 0;">
			                	<span th:if="${board.statusRef == 2}" class="reserved">[[${board.statusName}]]</span>
			                	<span th:if="${board.statusRef == 3}" class="sold">[[${board.statusName}]]</span>
					    		[[${board.subject}]]
					    	</h3>
					    	<span class="category">[[${board.categoryName}]]</span>ㆍ<span class="regDate">[[${#dates.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}]]</span>
					        <p class="text-card">[[${board.content}]]</p>
					        <div id="mapBox">
					        	<div id="mapInfo" style="display: none;">
					        		<input type="hidden" id="latitude" th:value="${board.latitude}"/>
					        		<input type="hidden" id="longitude" th:value="${board.longitude}"/>
					        	</div>
					        	<div id="mapText">
					        		<p>거래 희망 장소<span style="float:right;">[[${board.location}]]</span></p>
					        	</div>
						        <div id="map" style="width:570px;height:200px;"></div>					        
					        </div>
					    </div>
					    <div class="hr"></div>
					    <div class="uk-card-footer">
					    	<p class="like"><span id="countLike">관심 [[${board.countLike}]]</span>ㆍ<span>채팅 [[${board.chatRoomCount}]]</span>ㆍ<span>조회수 [[${board.readCount}]]</span></p>
					    </div>
					    
					    <!-- 유저가 쓴 다른 글 -->
						<div class="extraBox" th:if="${not #lists.isEmpty(userBoard)}">
							<div class="hr"></div>
							<div style="display: flex;justify-content: space-between;align-items: center; padding: 20px 0;">
								<h4 style="margin: 0;font-weight: 500;">[[${board.member.nickName}]]님의 판매물품</h4>
								<span id="usermore" class="highlight" style="cursor: pointer;" th:onclick="location.href='/user/[[${board.member.idx}]]/board'">더 구경하기</span>
							</div>
							<div class="hr"></div>
							<div style="padding:10px 81px;display: grid;gap:42px; grid-template-columns:repeat(2,1fr);justify-items: space-around;">
								<article th:each="vo : ${userBoard}" class="uk-card" th:onclick="detail([[${vo.idx}]])">
									<div class="uk-card-media-top">
										<img th:src="${'/upload/' + vo.boardFileList[0].saveFileName}" alt="" />
									</div>
									<div class="uk-card-body">
										<h4 class="uk-card-title">[[${vo.subject}]]</h4>
										<p class="price">[[${#numbers.formatInteger(vo.price, 0, 'COMMA')}]]원</p>
										<span class="city">[[${vo.loc}]]</span>
										<p class="like"><span>관심 [[${vo.countLike}]]</span>ㆍ<span>채팅 [[${vo.chatRoomCount}]]</span>ㆍ<span>조회수 [[${vo.readCount}]]</span></p>
										<p class="regDate">게시일 [[${#dates.format(vo.regDate,'yyyy-MM-dd')}]]</p>
									</div>
								</article>
							</div>
						</div>
						
						<!-- 인기상품 -->
						<div class="extraBox">
							<div class="hr"></div>
							<div style="display: flex;justify-content: space-between;align-items: center; padding: 20px 0;">
								<h4 style="margin: 0;font-weight: 500;">당근 인기중고</h4>
								<a href="#"><span class="highlight">더 구경하기</span></a>
							</div>
							<div class="hr"></div>
							<div style="display: grid; grid-template-columns:repeat(2,1fr);">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div id="footer-inner">
				<div id="likeHeart" style="width: 65px;height:65px;">
					<th:block th:if="${session.user != null}">
						<th:block th:if=${likeCheck==1}>
							<a href="" uk-icon="heart" class="active"></a>												
						</th:block>
						<th:block th:if=${likeCheck==0}>
							<a href="" uk-icon="heart" class=""></a>												
						</th:block>
					</th:block>
					<th:block th:if="${session.user == null}">
						<a href="" uk-icon="heart" class="" onclick="alert('로그인 후 이용가능합니다.'); location.href='/member/login'"></a>						
					</th:block>
				</div>
				<div id="footerBox">
					<div style="font-weight: 500">
						[[${#numbers.formatInteger(board.price, 0, 'COMMA')}]]원		
					</div>
					<div>
						<form th:action="@{/chat/createChatRoom}" method="post" id="chatBtn">
							<input type="hidden" name="boardIdx" th:value="${board.idx}">						
							<input th:if="${session.user == null}" type="submit" onclick="alert('로그인 후 이용가능합니다.'); location.href='/member/login'" class="uk-button uk-button-primary" value="채팅하기"/>				
							<th:block th:if="${session.user != null}">
								<input th:if="${session.user.idx != board.userRef && board.statusRef != 3}" type="submit" class="uk-button uk-button-primary" value="채팅하기"/>				
								<input th:if="${session.user.idx == board.userRef}" type="button" class="uk-button uk-button-primary" id="updateBtn" value="수정하기" th:disabled="${board.statusRef == 3}"/>							
							</th:block>
						</form>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script type="text/javascript">
		
	</script>
</body>
</html>