<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>당근 중고 장터</title>
	<!--제이쿼리 추가-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/fleamarket/fleamarket.css">
	<script src="/js/fleamarket.js"></script>
</head>
<body>
	<div id="wrap">
		<header id="header">
			<div id="header-inner">
				<div id="navi">
					<h1 id="logo">
						<a href="/">
							<img src="https://i.namu.wiki/i/urKu84c6cV1U3tmZqPiopxkCnQOn96j3gA6Wf730iSTzz41XDOeqypSusjBVPXeHxGe8RJAOjMY11uywzcDqSA.svg" alt="logo" />
						</a>
					</h1>
					<nav>
						<ul>
							<li><a href="/fleamarket">중고거래</a></li>
							<li><a href="/smartLivingTips">생활꿀팁</a></li>
							<li><a href="#">내 물건 팔기</a></li>
						</ul>
					</nav>
				</div>
				<div id="search">
					<span>
						<th:block th:if="${session.user != null}">
							<a class="uk-button uk-button-default" href="/member/logout">로그아웃</a>					
							<a class="uk-button uk-button-default" href="/member/home">마이페이지</a>					
						</th:block>
						<th:block th:if="${session.user == null}">
							<a class="uk-button uk-button-default" href="/member/login">로그인</a>						
						</th:block>
					</span>
				</div>
			</div>
		</header>
		<main>
			<div class="uk-container">
				<div class="main-top">
					<h3>중고 물품 리스트</h3>
					<div class="navBox">
						<div class="region">
							<select class="uk-select" id="r1">
								<option th:selected="${region eq null}" value="0">지역을 선택하세요.</option>
								<option th:each="reg : ${regionList}" th:value="${reg}" th:selected="${region == reg}">[[${reg}]]</option>
							</select>
							<th:block th:if="${region != null}">
								<select class="uk-select" id="r2">
									<option th:selected="${gu eq null}" value="0">지역을 선택하세요.</option>
									<option th:each="g : ${guList}" th:value="${g}" th:selected="${gu == g}">[[${g}]]</option>
								</select>
							</th:block>
							<th:block th:if="${gu != null}">
								<select class="uk-select" id="r3">
									<option th:selected="${dong eq null}" value="0">지역을 선택하세요.</option>
									<option th:each="do : ${dongList}" th:value="${do}" th:selected="${dong == do}">[[${do}]]</option>
								</select>
							</th:block>
						</div>
						<form action="" method="get" id="searchForm">
							<input class="uk-input uk-form-width-long chat" type="text" placeholder="동네 물품을 검색해주세요!" aria-label="Large" name="search" id="searchText">
						</form>
					</div>
				</div>
			</div>
			
			<div class="uk-container">
				<div id="slide">
					<th:block th:if="${#lists.isEmpty(pv.list)}">
						<script type="text/javascript">
							alert("중고물품이 존재하지 않습니다.");
							location.href="/fleamarket"
						</script>
					</th:block>
					<th:block th:each="vo : ${pv.list}">
						<article class="uk-card" th:onclick="detail([[${vo.idx}]])">
							<div class="uk-card-media-top">
								<th:block th:each="img, sv : ${vo.boardFileList}">
									<img th:if="${sv.first}" th:src="'./upload/' + ${img.saveFileName}" alt="" />
								</th:block>
								<!-- <img src="https://source.unsplash.com/1500x706" alt="">  -->
							</div>
							<div class="uk-card-body">
								<h4 class="uk-card-title">[[${vo.subject}]]</h4>
								<p class="price">[[${#numbers.formatInteger(vo.price, 0, 'COMMA')}]]원</p>
								<span class="city">[[${vo.loc}]]</span>
								<p class="like"><span>관심 [[${vo.countLike}]]</span>ㆍ<span>채팅 [[${vo.chatRoomCount}]]</span>ㆍ<span>조회수 [[${vo.readCount}]]</span></p>
								<p class="regDate">게시일 [[${#dates.format(vo.regDate,'yyyy.MM.dd')}]]</p>
							</div>
						</article>
					</th:block>
				</div>
			</div>
		</main>
	</div>
	
	<footer>
		<div th:if="${session.user != null}">
			<button class="uk-button uk-button-primary">
				<span uk-icon="comment"></span> 채팅 24
			</button>
		</div>
		<div>
			<a th:if="${session.user == null}" onclick="alert('로그인 후 이용가능합니다.')" href="/fleamarketUpload" class="uk-button uk-button-primary" style="display: flex; align-items: center; justify-content: center; vertical-align: middle;" uk-icon="plus">내 물건 팔기</a>				
			<a th:if="${session.user != null}" href="/fleamarketUpload" class="uk-button uk-button-primary" style="display: flex; align-items: center; justify-content: center;" uk-icon="plus">내 물건 팔기</a>				
		</div>
	</footer>
</body>
</html>