
main{width: 100%; padding: 110px 0;}
.uk-select{width: 180px}
.uk-container{width: 982px; padding: 0;}
/*.main-top > .region > select {padding: 10px 50px 10px 0; border-radius: 5px;}*/
.navBox{width: 100%;display: flex; justify-content: space-between; margin-bottom: 15px;}
.region {display: flex; gap: 5px;}

#slide{gap:30px;display: grid; grid-template-columns:repeat(4,1fr);}



select:focus {outline: none;}
.uk-card {cursor: pointer; width: 223px; margin-bottom: 56px;}
.uk-card-media-top {
	height: 223px; overflow: hidden; display: flex; align-items: center;
	border-radius: 12px; background-color: #F8F9FA;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
} 
.uk-card-title {font-size:16px;color:#212529; white-space:nowrap;text-overflow:ellipsis; margin: 0 !important}
.uk-card-body {display: flex; flex-direction: column; justify-content: center;padding: 0;margin-top: 12px;}
.uk-card-body > .price {font-size: 15px; margin: 0;font-weight: 700;}
.uk-card-body > .regDate {font-size: 12px;margin: 0;}
.uk-card-body > .city {font-size: 13px; margin: 0;}
.uk-card-body > .like {font-size: 14px; margin: 0;}










footer {position: fixed; bottom: 20px; right: 70px; z-index: 999;background:#fff}
footer div {margin-top: 20px;}
footer .uk-button {width: 130px;height:50px; background: #FF8A3D; border-radius: 10px; padding: 0px;}
footer a {width: 130px;height:50px; background: #FF8A3D; border-radius: 10px; padding: 0px; display: flex;
    align-items: center;
    justify-content: center;}
