<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	
	<!--제이쿼리 추가-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<link rel="stylesheet" href="/css/header.css">
	
	<link rel="stylesheet" href="/css/fleamarket.css">
	<script src="/js/fleamarket.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
	<input type="hidden" id="chatRoomIdx" th:value="${chatRoomIdx}">
	<input type="hidden" id="sender" th:value="${sender}">
	<ul id="chatMessages">
	
	</ul>
    <input type="text" id="message" />
    <button id="send-message-btn">전송</button>
	<script>
		$(function() {
		    // WebSocket 및 Stomp 초기화
		    var sock = new SockJS("/ws");
		    var ws = Stomp.over(sock);
		    
		    // var roomIdx = localStorage.getItem('wschat.chatRoomIdx');
		    //var sender = localStorage.getItem('wschat.sender');
		    const roomIdx = $("#chatRoomIdx").val();
		    const sender = $("#sender").val();
		    console.log(roomIdx);
		    console.log(sender);
		    var messages = [];
			
		    function findRoom() {
		        $.ajax({
		            method: 'GET',
		            url: '/chat/room/' + roomIdx,
		            success: function(response) {
		                var room = response;
		            }
		        });
		    }
	
		    function sendMessage() {
		        var message = $('#message').val();
		        ws.send("/pub/chat/message", {}, JSON.stringify({'chatRoom': roomIdx, 'sender': sender, 'content': message}));
		        $('#message').val('');
		    }
	
		    function recvMessage(recv) {
		    	console.log(recv);
		        var message = {"nickName": recv.nickName, "content": recv.content, "regDate": recv.regDate};
		        messages.unshift(message);
		        // 메시지를 UI에 업데이트
		        updateMessagesUI();
		    }
	
		    // pub/sub 이벤트
		    ws.connect({}, function(frame) {
		        ws.subscribe("/sub/chat/room/" + roomIdx, function(message) {
		            var recv = JSON.parse(message.body);
		            recvMessage(recv);
		        });
		        // ws.send("/pub/chat/message", {}, JSON.stringify({roomIdx: roomIdx, sender: sender}));
		    }, function(error) {
		        alert("error " + error);
		    });
	
		    // UI 업데이트 함수
		    function updateMessagesUI() {
		        var $messageList = $('#chatMessages');
		        $messageList.empty();
		        messages.forEach(function(message) {
		            var $messageItem = $('<li>').text(message.nickName + ': ' + message.content + ": "+ message.regDate);
		            $messageList.append($messageItem);
		        });
		    }
	
		    // 메시지 전송 버튼 클릭 이벤트 핸들러
		    $('#send-message-btn').click(function() {
		        sendMessage();
		    });
		});

    </script>
</body>
</html>