<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>당근채팅하기</title>
	
	<!--제이쿼리 추가-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

	<link rel="stylesheet" href="/css/header.css">
	
	<link rel="stylesheet" href="/css/chatRoom.css">
	<script src="/js/chatRoom.js"></script>
</head>
<body>
	<div id="wrap">
		<main>
			<input type="hidden" id="chatRoomIdx" th:value="${chatRoomIdx}">
			<input type="hidden" id="sender" th:value="${sender}">
			<div id="info">
				<div id="boardImg">
					<img th:src="'/upload/'+${board.boardFileList[0].saveFileName}" alt="" />
				</div>
				<div id="boardDetail">
					<p>[[${board.subject}]]</p>
					<span>[[${#numbers.formatInteger(board.price, 0, 'COMMA')}]]원</span>			
				</div>
			</div>
			<div id="chatMessages">
				
			</div>
			<div id="inputChatMessages"><!-- 여기가 채팅 form -->
				<textarea id="message" class="uk-textarea"></textarea>
			    <button id="send-message-btn" class="uk-button">전송</button>			
			</div>
		</main>
		<!-- 
		<footer>
			<div id="footer-inner">
				<div id="likeHeart" style="width: 65px;height:65px;">
					<th:block th:if="${session.user != null}">
						<th:block th:if=${likeCheck==1}>
							<a href="" uk-icon="heart" class="active"></a>												
						</th:block>
						<th:block th:if=${likeCheck==0}>
							<a href="" uk-icon="heart" class=""></a>												
						</th:block>
					</th:block>
					<th:block th:if="${session.user == null}">
						<a href="" uk-icon="heart" class=""></a>						
					</th:block>
				</div>
				
				<div id="footerBox">
					<div style="font-weight: 500">	
					</div>
					<div>
						<form th:action="@{/chat/createChatRoom}" method="post" id="chatBtn">
							<input type="hidden" name="boardIdx" th:value="0">						
							<input th:if="${session.user == null}" type="submit" onclick="alert('로그인 후 이용가능합니다.'); location.href='/member/login'" class="uk-button uk-button-primary" value="채팅하기"/>				
							<input th:if="${session.user != null}" type="submit" class="uk-button uk-button-primary" value="채팅하기"/>				
						</form>
					</div>
				</div>
			</div>
		</footer>
		 -->
	</div>
	
	
	<script>
		$(function() {
			let currentPage = 1;
			const chatRoomIdx = $("#chatRoomIdx").val();
		    const sender = $("#sender").val();
			
		    // WebSocket 및 Stomp 초기화
		    var sock = new SockJS("/ws");
		    var ws = Stomp.over(sock);
		    
		    var messages = [];
			
		    /**
		    * 메시지를 보낼때 실행되는 함수
		    */
		    function sendMessage() {
		        var message = $('#message').val();
		        ws.send("/pub/chat/message", {}, JSON.stringify({'chatRoom': chatRoomIdx, 'sender': sender, 'content': message}));
		        $('#message').val('');
		    }
			
		    /**
		    * 메시지를 받을때 실행되는 함수
		    */
		    function recvMessage(recv) {
		    	console.log(recv);
		        var message = {"sender": recv.sender, "nickName": recv.nickName, "content": recv.content, "regDate": recv.regDate};
		        messages.unshift(message);
		        updateMessagesUI(message);
		    }
	
		    // pub/sub 이벤트
		    ws.connect({}, function(frame) {
		        ws.subscribe("/sub/chat/room/" + chatRoomIdx, function(message) {
		            var recv = JSON.parse(message.body);
		            recvMessage(recv);
		        });
		        axios.post('/chat/findChatMessage', {
					"chatRoomIdx": chatRoomIdx,
					"currentPage": 1,
				})
				.then(function (res) {
					const messageList = $('#chatMessages');
					const data = res.data
					console.log(data);
					data.forEach(message => {
						let ck = (sender == message.sender ? '2' : '1');
						const regDate = updateDate(message.regDate);
						content = `<div class="chat ch${ck}">`;
				        if(ck==1){
				        	content += `<div class="icon"><span>${message.nickName[0]}</span></div>`;
				        }
				        content += `
					        	<div class="textbox">
						    	<p>${message.content}</p>
								<span class="chat-time">${regDate}</span>
						    </div>
						</div>
				        `;
			            const messageItem = $('<div>').html(content);
			            messageList.prepend(messageItem);
			            setTimeout(function(){
			                messageList.scrollTop(messageList.prop('scrollHeight'));
			            }, 50);
					})
					
				})
				.catch(function (error) {
					console.log(error);
				});
		        // ws.send("/pub/chat/message", {}, JSON.stringify({roomIdx: roomIdx, sender: sender}));
		    }, function(error) {
		        alert("error " + error);
		    });
		    
		    /**
		    * Wed Feb 28 15:26:48 KST 2024 생긴걸
		    * PM 3:26으로 바꿔주는 메서드
		    */
		    function updateDate(dateString){
		    	let date = new Date(dateString);
		    	let hours = date.getHours();
		    	let minutes = date.getMinutes();
		    	// 오전/오후 설정
		    	let ampm = hours >= 12 ? 'PM' : 'AM';
		    	hours = hours % 12;
		    	minutes = minutes < 10 ? '0' + minutes : minutes;
		    	let finalTime = ampm + ' ' + hours + ':' + minutes;
		    	return finalTime;
		    }
		    
		    
		    function updateMessagesUI(message) {
		        const messageList = $('#chatMessages');
		        let ck = (sender == message.sender ? '2' : '1');
	            const regDate = updateDate(message.regDate);
		        content = `<div class="chat ch${ck}">`;
		        if(ck==1){
		        	content += `<div class="icon"><span>${message.nickName[0]}</span></div>`;
		        }
		        content += `
			        	<div class="textbox">
				    	<p>${message.content}</p>
						<span class="chat-time">${regDate}</span>
				    </div>
				</div>
		        `;
	            const messageItem = $('<div>').html(content);
	            messageList.append(messageItem);
	            setTimeout(function(){
	                messageList.scrollTop(messageList.prop('scrollHeight'));
	            }, 50);
		    }
	
		    // 메시지 전송 버튼 클릭 이벤트 핸들러
		    $('#send-message-btn').click(function() {
		        sendMessage();
		    });
		    $("#message").keyup(function(event) {
		        // Enter 키의 keyCode 값은 13이며, Shift 키와 함께 눌렀을 때 keyCode 값이 10입니다.
		        if (event.which === 13 && !event.shiftKey) {
		        	sendMessage();
		        }
		    });
		    
		    
		    
		    document.getElementById('message').addEventListener('wheel', function(e) {
		        const element = e.target;
		        const scrollTop = element.scrollTop;
		        const scrollHeight = element.scrollHeight;
		        const height = element.clientHeight;
		        const delta = e.deltaY;
		        const up = delta > 0 ? -1 : 1;

		        // 스크롤바가 없는 상태에서 마우스 휠 동작 시 스크롤 이동
		        if ((delta < 0 && scrollTop <= 0) || (delta > 0 && scrollTop + height >= scrollHeight)) {
		            return;
		        }

		        e.preventDefault();
		        element.scrollTo({
		            top: scrollTop + delta * 0.3, // 스크롤 속도 조정 (0.3은 조절 가능)
		            behavior: 'smooth'
		        });
		    });
		});
    </script>
</body>
</html>