<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>내 물품 팔기</title>
<!--제이쿼리 추가-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!-- 카카오맵 api -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fa04a00338cccad468f169754f5e7cc6&libraries=services"></script>
<link rel="stylesheet" href="/css/fleamarketUpload.css">
<script src="/js/fleamarketUpload.js"></script>
</head>
<body>
	<div class="uk-container uk-container-xsmall">
		<h2 class="form-heading" style="text-align: center;"><img src="https://i.namu.wiki/i/urKu84c6cV1U3tmZqPiopxkCnQOn96j3gA6Wf730iSTzz41XDOeqypSusjBVPXeHxGe8RJAOjMY11uywzcDqSA.svg" alt="logo" /></h2>
		<h2>내 물품 팔기</h2>
		<form action="/fleamarketUploadOk" method="post" enctype="multipart/form-data" id="uploadForm">
			<input type="hidden" id="latitude" name="latitude"/>
			<input type="hidden" id="longitude" name="longitude"/>
			<input type="hidden" id="loc" name="loc"><!-- 서울특별시 강서구 화곡1동 -->
			
	        <div id="file-drop-area">
	            <span uk-icon="icon: cloud-upload"></span>
	            <span class="uk-text-middle">이곳에 파일을 드롭해주세요. 또는 </span>
                <span id="fileBtn" style="cursor: pointer; color: #338BF1;">파일선택하기</span>
	            <div class="uk-form-custom">
	                <input type="file" id="fileInput" name="" multiple>
	            </div>
                <span>(최대 5개)</span>
	        </div>
        	<div id="preview"></div>
        	<div id="fileBox" style="display: none;"></div>

			<div class="uk-margin">
				<h4>제목</h4>
				<div class="uk-inline">
					<input type="text" name="subject" id="subject" class="uk-input" placeholder="제목을 입력해주세요" autocomplete='off' required="required">				
				</div>
			</div>
			<div class="uk-margin">
				<h4>카테고리</h4>
				<div class="uk-inline">
					<select name="categoryRef" id="categoryRef" class="uk-select" required="required">
						<option value="0" selected="selected">카테고리를 선택해주세요.</option>
						<option value="1">디지털/가전</option>
						<option value="2">가구/인테리어</option>
						<option value="3">유아동/유아도서</option>
						<option value="4">생활/가공식품</option>
						<option value="5">스포츠/레저</option>
						<option value="6">여성잡화</option>
						<option value="7">여성의류</option>
						<option value="8">남성패션/잡화</option>
						<option value="9">게임/취미</option>
						<option value="10">뷰티/미용</option>
						<option value="11">반려동물용품</option>
						<option value="12">도서/티켓/음반</option>
					</select>				
				</div>
			</div>
			<div class="uk-margin">
				<h4>가격</h4>
				<div class="uk-inline">
					<input type="number" name="price" id="price" class="uk-input" placeholder="가격을 입력해주세요." autocomplete='off' required="required">
				</div>
			</div>
			<div class="uk-margin">
				<h4>자세한 설명</h4>
				<div class="uk-inline">
					<textarea id="content" class="uk-textarea" name="content" style="resize: none; height: 200px" required="required"></textarea>
				</div>
			</div>
			<div class="uk-margin">
				<h4>거래희망장소</h4>
				<div class="uk-inline">
					<div id="map" style="width:500px;height:300px;"></div>				
				</div>
			</div>
			<div class="uk-margin">
				<h4>상세주소</h4>
				<div class="uk-inline">
					<input type="text" id="detailAddress" name="location" class="uk-input" placeholder="상세주소 입력" autocomplete='off' required="required">
				</div>
			</div>
			<div class="uk-margin" style="text-align: right;">
				<input type="submit" class="uk-button uk-button-primary uk-button-large" value="물건팔기"></input>
				<input type="button" id="homeBtn" value="이전페이지" class="uk-button uk-button-primary uk-button-large">			
			</div>
		</form>
	</div>
</body>
</html>