<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>당근 로그인</title>
<!-- UIkit CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script
	src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
</head>

<body>
	<div class="uk-container uk-container-xsmall"
		style="margin: auto; width: 80%; margin-top: 50px;">
		<form method="POST" action="joinok" class="form-group">
			<h2 class="form-heading" style="text-align: center;">회원가입</h2>
			<div class="form-group">
				<div class="uk-margin">
					<div class="uk-inline">
						<span class="uk-form-icon" uk-icon="icon: user"></span>
						<input name="username" id="username" type="text" onkeyup="useridCheck()" class="uk-input uk-form-width-medium" placeholder="아이디 입력" autofocus="autofocus"/>
						<span id="message">사용가능한 아이디입니다.</span>
					</div>
				</div>
				<div class="uk-margin">
					<div class="uk-inline">
			            <span class="uk-form-icon" uk-icon="icon: lock"></span>
			            <input name="password" type="password" class="uk-input uk-form-width-medium" placeholder="비밀번호 입력" required="required" aria-label="Not clickable icon">
			        </div>				
				</div>
				<div class="uk-margin">
			        <div class="uk-inline">
						<input name="name" type="text" class="uk-input uk-form-width-medium" placeholder="이름 입력" required="required" />
			        </div>				
				</div>
				<div class="uk-margin">
					<input name="nickName" type="text" class="uk-input uk-form-width-medium" placeholder="별명 입력" required="required" />				
				</div>
				<div class="uk-margin">
					<div class="uk-inline">
						<input name="email" type="text" class="uk-input uk-form-width-medium" placeholder="이메일" required="required" />	
					</div>
					<div class="uk-inline" style="position: relative;">
						<input class="uk-input" style="width: 40px;" type="text" aria-label="disabled" disabled>
						<span style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">@</span>
					</div>
					<div class="uk-inline">
						<select name="email2" class="uk-select uk-form-width-medium" id="form-stacked-select">
			                <option>naver.com</option>
			                <option>gmail.com</option>
			                <option>daum.net</option>
			            </select>
					</div>
				</div>
				<div class="uk-margin">
					<div class="uk-inline">
						<input id="phone" name="phone" type="tel" class="uk-input uk-form-width-medium" placeholder="사용자 전화번호 입력" style="margin-bottom: 8px;" />					
					</div>
				</div>
				<div class="uk-margin">
					<div class="uk-inline">
						<input id="bd" name="bd" type="date" class="uk-input uk-form-width-medium" pattern="yyyy-MM-dd" required="required"/>						
					</div>
				</div>
				<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
					<label><input class="uk-radio" type="radio" name="gender" value="1" checked>남</label>
					<label><input class="uk-radio" type="radio" name="gender" value="0">여</label>
				</div>
				<div class="uk-margin">
					<div class="uk-inline">
						<input type="text" name="postcode" id="postcode" class="uk-input uk-form-width-medium" aria-describedby="passwordHelpInline" readonly="readonly">
						<input class="uk-button uk-button-default" type="button" value="우편번호 검색" onclick="daumPostcode()" />						
					</div>
				</div>
				<div class="uk-margin">
					<div class="uk-inline">
						<input name="stAddress" id="addr1" type="text" class="uk-input uk-form-width-medium" placeholder="사용자 주소"/>
						<input name="dtAddress" id="addr2" type="text" class="uk-input uk-form-width-medium" placeholder="사용자 상세 주소"/>					
					</div>
				</div>

				<div style="text-align: center; margin: 50px 0 120px 0 ">
					<button class="uk-button uk-button-primary" type="submit">회 원 가 입</button>
					<input class="uk-button uk-button-primary" type="button" onclick="location.href='/'" value="홈으로" />
				</div>
			</div>
		</form>
	</div>
	<!-- /container -->
	<!-- 다음 우편번호 API를 이용하려면 포함해야 한다. -->
	<script
		src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!-- Ajax처리를 위한 포함 -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
	// 중복확인하는 함수
	function useridCheck(){
		let username = $("#username").val();
		if(username.length>=4){
			if(username.indexOf(" ")!=-1){
				$("#message").html("공백은 포함할수 없어요").css('color','red');
			}else{
				// Ajax를 호출하여 처리 한다.
				axios
				.get('/login/userIdCheck?username=' + username)
				.then(function (response) {
					// 성공 핸들링
				    if(response.data*1 == 0){
				    	$("#message").html("사용가능한 아이디입니다.").css('color','blue');
				    }else{
				    	$("#message").html("사용 불가능한 아이디입니다.").css('color','red');
				    }
				})
				.catch(function (error) {
				    // 에러 핸들링
					console.log(error);
				})
				.finally(function () {
				    // 항상 실행되는 영역
				});
			}
		}else{
			$("#message").html("").css('color','black');
		}
	}

	
	// 다음 우편번호 API를 이용한 우편번호 검색 함수
	function daumPostcode() {
	    new daum.Postcode({
	        oncomplete: function(data) {
	            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
	            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
	            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	            var roadAddr = data.roadAddress; // 도로명 주소 변수
	
	            // 우편번호와 주소 정보를 해당 필드에 넣는다.
	            document.getElementById('postcode').value = data.zonecode;
	            document.getElementById("addr1").value = roadAddr;
	        }
	    }).open();
	    document.getElementById("addr2").focus();
	}

</script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
