<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>공지사항 - 당근마켓</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="/css/header.css">
    <style type="text/css">
    	a {text-decoration: none; color: inherit;}
    	body {font-family: "Noto Sans KR"; font-weight: 300;}
		main {padding: 76px 0; margin: 0 auto;}
		.uk-container{width: 550px; font-weight: 400;}
		
		.detail-header{margin-top: 3.75rem; padding-bottom: 2rem; border-bottom: 1px solid #eee;}
    	.detail-body{
    		margin-top: 2rem;
		    margin-bottom: 3.75rem;
		    white-space: pre-line;
		    line-height: 150%;
		    font-size: 16px;
		    font-weight: 400;
		    letter-spacing: -0.01em;
    	}
    	
    	#notice-active{color: #FF6F0F;}
    	#notice-active svg{fill: #FF6F0F;}
    </style>
</head>
<body>
	<div id="wrap">
	    <th:block th:insert="~{/indexHeader.html}"></th:block>
		<main>
			<div class="uk-container">
				<input type="hidden" id="idx" th:value="${notice.idx}"/>
				<div class="detail-header">
					<div class="notice-prefix" th:if="${notice.highlight == 0}" style="margin-bottom: 0.75rem; font-size: 1rem; font-weight: 700;">공지</div>
					<div class="notice-prefix" id="notice-active" th:if="${notice.highlight == 1}" style="margin-bottom: 0.75rem; font-size: 1rem; font-weight: 700;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.66639 1.53331C8.99775 1.20195 9.53498 1.20195 9.86634 1.53331L14.5376 6.20452C14.8689 6.53588 14.8689 7.07311 14.5376 7.40446C13.9376 8.00444 12.3662 7.97587 12.3662 7.97587L10.4377 10.5043C10.4377 10.5043 10.9377 12.2042 9.73777 13.4042C9.40642 13.7355 8.86918 13.7355 8.53783 13.4042L6.30944 11.1758C6.27702 11.2048 1.82953 15.1809 1.35985 14.7112C0.890158 14.2415 4.86622 9.79404 4.89524 9.7616L2.66667 7.53303C2.33531 7.20168 2.33546 6.6643 2.66682 6.33294C3.86676 5.133 5.56668 5.63297 5.56668 5.63297L8.09514 3.70449C8.09514 3.70449 8.06642 2.13328 8.66639 1.53331Z" fill="var(--seed-scale-color-carrot-500)"></path></svg> 중요</div>
					<div class="detail-title" style="margin-bottom: 0.5rem; font-size: 2rem; font-weight: 700;">[[${notice.title}]]</div>
					<div class="detail-date" style="line-height: 136%;">[[${#dates.format(notice.regDate,'yyyy.MM.dd')}]]</div>
				</div>
				<div class="detail-body ">[(${notice.content})]</div>
				<a href="/notice" class="uk-button uk-button-default">목록으로</a>
				<th:block th:if="${session.user != null && session.user.role == 'ROLE_ADMIN'}">
					<a id="updateBtn" class="uk-button uk-button-default">수정하기</a>				
				</th:block>
			</div>
		</main>
    </div>
	<script type="text/javascript">
		$(function(){
			$("#updateBtn").click(function(){
				const idx = $("#idx").val();
				const form = document.createElement('form');
			    form.method = 'POST';
			    form.action = '/adm/noticeUpdate';
			    const idxInput = document.createElement('input');
			    idxInput.type = 'hidden';
			    idxInput.name = 'idx';
			    idxInput.value = idx;
			    form.appendChild(idxInput);
			    document.body.appendChild(form);
			    form.submit();
			})
		})
		function view(idx){
			location.href = '/notice/detatil/'+idx;
		}
	</script>
</body>
</html>