<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Document</title>
<!--제이쿼리 추가-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!-- 카카오맵 api -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fa04a00338cccad468f169754f5e7cc6&libraries=services"></script>
<link rel="stylesheet" href="./css/upload.css">
<script src="./js/upload.js"></script>
</head>
<body>
	<div id="wrap">
		<h2>내 물품 팔기</h2>
		<form action="/uploadOk" method="post" enctype="multipart/form-data">
			<input type="hidden" id="latitude" name="latitude"/>
			<input type="hidden" id="longitude" name="longitude"/>
			<div id="fileBox">
				<div class="dropzone" id="dropzone">
				    <p>사진을 드래그 앤 드롭하세요.</p>
				  </div>
				
				  <div class="image-preview" id="image-preview"></div>			
			</div>
			<p>제목</p>
			<input type="text" id="subject" class="uk-input" placeholder="제목을 입력해주세요" autocomplete='off' required="required">
			<p>가격</p>
			<input type="number" id="price" class="uk-input" placeholder="가격을 입력해주세요." autocomplete='off' required="required">
			<p>자세한 설명</p>
			<textarea id="content" class="uk-textarea" name="content" style="resize: none; height: 200px" required="required"></textarea>
			<p>거래희망장소</p>
			<div id="map" style="width:800px;height:400px;"></div>
			<p>상세주소</p>
			<input type="text" id="detailAddress" name="detailAddress" class="uk-input" placeholder="상세주소 입력" autocomplete='off' required="required">
			
			<div style="margin: 50px 0px;width: 100%; text-align: center;">
				<input type="submit" class="uk-button uk-button-primary uk-button-large" value="글 등록하기"></input>
				<input type="button" id="homeBtn" value="Home으로" class="uk-button uk-button-primary uk-button-large">			
			</div>
		</form>
	</div>
	
	
</body>
</html>