<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd" >
<mapper namespace="kr.ezen.daangn.dao.BoardFileDAO">

	<select id="selectByRef" parameterType="int" resultType="BoardFileVO">
		select
			*
		from
			daangn_board_file
		where
			ref = #{idx}
	</select>
	
	<insert id="insert" parameterType="BoardFileVO">
		insert into daangn_board_file
		values (daangn_board_file.nextval, #{ref}, #{originFileName}, #{saveFileName})
	</insert>
	
	<!-- 업데이트나 딜리트는 나중에 하자! -->
</mapper>