<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd" >
<mapper namespace="kr.ezen.daangn.dao.DaangnChatMessageDAO">

	<select id="selectChatByChatRoomIdx" parameterType="hashmap" resultType="ChatMessageVO">
		select
			rownum rnum, Q.*
		from
			(
				select
					chatMessage.*
					, (
						SELECT
							nickName
						FROM
							daangn_member
						WHERE
							daangn_member.idx = chatMessage.sender
					) AS nickName
					, (
						SELECT
							saveFileName
						FROM
							daangn_user_file
						WHERE
							daangn_user_file.ref = chatMessage.sender
					) AS userProfileName
				from
					chatMessage
				where
					<![CDATA[
						chatMessage.idx < #{lastItemIdx}
					]]>
					and chatRoom = #{chatRoomIdx}
				order by
					idx desc
			) Q
		where
			<![CDATA[
				rownum <= #{sizeOfPage}
			]]>
	</select>
	
	<select id="getLastIdx" resultType="int">
		SELECT 
	        CASE 
	            WHEN MAX(chatMessage.idx) IS NULL THEN 0
	            ELSE MAX(chatMessage.idx)
	        END
	    FROM chatMessage
	</select>
	
	<insert id="insertChat" parameterType="ChatMessageVO">
		<selectKey keyColumn="idx" keyProperty="idx" resultType="int" order="BEFORE">
			select chatMessage_idx_seq.nextval from dual
		</selectKey>
		insert into
			chatMessage
		values
			(
				#{idx, jdbcType=INTEGER}
				, #{chatRoom}
				, #{typeRef}
				, #{sender}
				, #{content}
				, sysdate
				, 2
			)
	</insert>
	
	<update id="updateChat" parameterType="int">
		update chatMessage set readed = readed - 1 where idx = #{idx}
	</update>
	
	<update id="updateAllChat" parameterType="ChatMessageVO">
	    <![CDATA[
	        update chatMessage set readed = 0 where chatRoom = #{chatRoom} and sender <> #{sender}
	    ]]>
	</update>

	
	<select id="unreadCount" parameterType="ChatMessageVO">
		select count(*) from chatMessage where chatRoom = #{chatRoom} and sender = #{sender} and readed = 1
	</select>
	
	<select id="selectByIdx" parameterType="int">
		select * from chatMessage where idx = #{idx}
	</select>
	
	<delete id="deleteChat" parameterType="int">
		delete from chatMessage where idx = #{idx}
	</delete>
</mapper>