<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd" >
<mapper namespace="kr.ezen.daangn.dao.DaangnMemberDAO">

	<!-- 회원가입할때 -->
	<insert id="insert" parameterType="DaangnMemberVO">
		insert into 
			daangn_member
		values
			(
				daangn_member_idx_seq.nextval
				, #{username}
				, #{password}
				, #{role}
				, #{name}
				, #{nickName}
				, #{email}
				, #{emailOk}
				, sysdate
				, sysdate
				, #{stAddress}
				, #{dtAddress}
			)
	</insert>

	<!-- userDetails -->
	<select id="selectByUsername" parameterType="string" resultType="DaangnMemberVO">
		select * from daangn_member where username = #{username}
	</select>
	
	<!-- idx로 유저 얻기 -->
	<select id="selectByIdx" parameterType="int" resultType="DaangnMemberVO">
		select * from daangn_member where idx = #{idx}
	</select>
	
	<!-- 중복확인을 위한 코드 -->
	<select id="selectCountByUsername" parameterType="string" resultType="int">
		select count(*) from daangn_member where username = #{username}
	</select>
	
	<select id="selectCountByNickName" parameterType="string" resultType="int">
		select count(*) from daangn_member where nickName = #{nickName}
	</select>
	
	
	<!-- 마이페이지 및 관리자페이지용 -->	
	<!-- 모두 얻기 (admin용) 이거 페이징 처리해야댐 -->
	<select id="selectUser" parameterType="hashmap" resultType="DaangnMemberVO">
		select
			R.*
		from
			(
				select
					rownum rnum, Q.*
				from
					(
						select
							*
						from
							daangn_member
						<where>
							<if test="search != null">
								username like '%' || #{search} || '%'
								or name like '%' || #{search} || '%'
								or nickName like '%' || #{search} || '%'
							</if>
						</where>
						order by
							idx desc
					) Q
				where
					<![CDATA[
						rownum <= #{endNo}
					]]> 
			) R
		where
			<![CDATA[
				rnum >= #{startNo}
			]]>
	</select>
	<!-- totalCount 얻기용 -->
	<select id="selectCountUser" parameterType="hashmap" resultType="int">
		select
			count(*)
		from
			jung_member
		<where>
			<if test="search != null">
				username like '%' || #{search} || '%'
				or name like '%' || #{search} || '%'
				or nickName like '%' || #{search} || '%'
			</if>
		</where>
	</select>
	
	<!-- 회원 정보 수정 -->
	<update id="update" parameterType="DaangnMemberVO">
	    update daangn_member
	    <set>
	        <if test="password != null">password = #{password},</if>
	        <if test="role != null">role = #{role},</if>
	        <if test="nickName != null">nickName = #{nickName},</if>
	        <if test="email != null">email = #{email},</if>
	        <if test="emailOk != null">emailOk = #{emailOk},</if>
	        <if test="stAddress != null">stAddress = #{stAddress},</if>
	        <if test="dtAddress != null">dtAddress = #{dtAddress},</if>
	    </set>
	    where idx = #{idx}
	</update>
	
	<!-- 마지막 접속일 수정 -->
	<update id="updateLastLoginDate" parameterType="int">
		update daangn_member set lastLoginDate = sysdate where idx = #{idx}
	</update>
	
	<!-- 비밀번호 수정 암호화해서 넘겨야한다 -->
	<update id="updatePassword" parameterType="DaangnMemberVO">
		update 
			daangn_member 
		set 
			
		where 
			username = #{username}
	</update>
	
	<!-- 탈퇴하기 idx-->
	<delete id="deleteByIdx" parameterType="int">
		delete from daangn_member where idx = #{idx}
	</delete>
	
</mapper>