<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd" >
<mapper namespace="kr.ezen.daangn.dao.DaangnMainBoardDAO">
	
	<!-- 조회하기 페이징처리및 서치도 가능하게 -->
	<select id="selectList" parameterType="hashmap" resultType="DaangnMainBoardVO">
		select
			R.*
		from
			(
				select
					rownum rnum, Q.*
				from
					(
						select
							b.*,
						    c.categoryName,
						    s.statusName
						from
							daangn_board b
						JOIN
						    daangn_category c ON b.categoryRef = c.categoryIdx
						JOIN
						    daangn_status s ON b.statusRef = s.statusIdx
						<where>
					        <trim prefix="AND" suffixOverrides="AND">
					            <if test="region != null">
					                LOC LIKE '%' || #{region} || '%' AND
					            </if>
					            <if test="gu != null">
					                LOC LIKE '%' || #{gu} || '%' AND
					            </if>
					            <if test="dong != null">
					                LOC LIKE '%' || #{dong} || '%' AND
					            </if>
					            <if test="search != null">
					                (
					                    SUBJECT LIKE '%' || #{search} || '%'
					                    OR CONTENT LIKE '%' || #{search} || '%'
					                )
					                AND
					            </if>
					            <if test="categoryNum != null">
					                categoryRef = #{categoryNum}
					            </if>
					            <if test="statusNum != null">
					                statusRef = #{statusNum}
					            </if>
					        </trim>
				   		</where>
						order by
							idx desc
					) Q
				where
					<![CDATA[
						rownum <= #{endNo}
					]]>
			) R
		where
			<![CDATA[
				rnum >= #{startNo}
			]]>
	</select>
	
	<select id="selectCount" parameterType="hashmap" resultType="int">
		select
			count(*)
		from
			daangn_board
		<where>
	        <trim prefix="AND" suffixOverrides="AND">
	            <if test="region != null">
	                LOC LIKE '%' || #{region} || '%' AND
	            </if>
	            <if test="gu != null">
	                LOC LIKE '%' || #{gu} || '%' AND
	            </if>
	            <if test="dong != null">
	                LOC LIKE '%' || #{dong} || '%' AND
	            </if>
	            <if test="search != null">
	                (
	                    SUBJECT LIKE '%' || #{search} || '%'
	                    OR CONTENT LIKE '%' || #{search} || '%'
	                )
	                AND
	            </if>
	            <if test="categoryNum != null">
	                categoryRef = #{categoryNum}
	                AND
	            </if>
	            <if test="statusNum != null">
	                statusRef = #{statusNum}
	                AND
	            </if>
	        </trim>
   		</where>
	</select>
	
	<!-- 한개 얻기 -->
	<select id="selectByIdx" parameterType="int" resultType="DaangnMainBoardVO">
		SELECT
		    b.*,
		    c.categoryName,
		    s.statusName
		FROM
		    daangn_board b
		JOIN
		    daangn_category c ON b.categoryRef = c.categoryIdx
		JOIN
		    daangn_status s ON b.statusRef = s.statusIdx
		WHERE
		    b.idx = #{idx}
	</select>
	
	
	
	<insert id="insert" parameterType="DaangnMainBoardVO">
		<selectKey keyColumn="idx" keyProperty="idx" resultType="int" order="BEFORE">
			select daangn_board_idx_seq.nextval from dual
		</selectKey>
		insert into
			daangn_board
		values
			(
				#{idx, jdbcType=INTEGER}
				, #{userRef}
				, #{categoryRef}
				, 1
				, #{subject}
				, #{content}
				, #{price}
				, #{latitude}
				, #{longitude}
				, #{location}
				, #{loc}
				, 0
				, sysdate
			)
	</insert>
	
	<update id="update" parameterType="hashmap">
		update
			daangn_board
		set
			<if test="statusRef != null">
				statusRef = #{statusRef}
			</if>
			<if test="categoryRef != null">
				categoryRef = #{categoryRef},
			</if>
			<if test="subject != null">
				subject = #{subject},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
			<if test="price != null">
				price = #{price},
			</if>
			<if test="latitude != null">
				latitude = #{latitude},
			</if>
			<if test="longitude != null">
				longitude = #{longitude},
			</if>
			<if test="location != null">
				location = #{location},
			</if>
			<if test="loc != null">
				loc = #{loc}
			</if>
			<if test="readCount != null">
				readCount = readCount + 1
			</if>
		where
			idx = #{idx}
	</update>
	
	<delete id="deleteByIdx" parameterType="int">
		delete from daangn_board where idx = #{idx}
	</delete>
	
	<!-- 유저가쓴글 보기 -->
	<select id="selectByRef" parameterType="int" resultType="DaangnMainBoardVO">
		select * from daangn_board where userRef = #{userRef}
	</select>
</mapper>