<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd" >
<mapper namespace="kr.ezen.daangn.dao.DaangnMainBoardDAO">

	<select id="selectList" parameterType="hashmap" resultType="DaangnMainBoardVO">
		select
			R.*
		from
			(
				select
					rownum rnum, Q.*
				from
					(
					select
						*
					from
						daangn_board
					<where>
						<if test="search != null">
							subject like '%' || #{search} || '%' or content like '%' || #{search} || '%'		
						</if>
					</where>
					order by
						idx desc
					) Q
				where
					<![CDATA[
						rownum <= #{endNo}
					]]> 
			) R
		where
			<![CDATA[
				rnum >= #{startNo}
			]]>
	</select>
	<select id="selectByIdx" parameterType="int" resultType="DaangnMainBoardVO">
		select * from daangn_board where idx = #{idx}
	</select>
	
	<select id="selectCount" parameterType="hashmap" resultType="int">
		select
			count(*)
		from
			daangn_board
		<where>
			<if test="search != null">
				subject like '%' || #{search} || '%' or content like '%' || #{search} || '%'		
			</if>
		</where>
	</select>
</mapper>