<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd" >
<mapper namespace="kr.ezen.daangn.dao.DaangnCommentDAO">
	<!-- 저장 -->
	<insert id="insertComment" parameterType="DaangnCommentVO">
		insert into Daangn_comment values (Daangn_comment_idx_seq.nextval, #{userIdx}, #{writerIdx}, #{score}, #{content}, sysdate)
	</insert>
	
	<!-- 댓글 평점 합계 계산하기 -->
	<select id="selectScoreByUserIdx" parameterType="int" resultType="float">
		select NVL(AVG(score), 0) from Daangn_comment where userIdx = #{userIdx}
	</select>
	
	<!-- 1. userIdx에 해당하는 댓글 주기 (고려사항 페이징)-->
	<select id="selectCommentByUserIdx" parameterType="int" resultType="DaangnCommentVO">
		select * from Daangn_comment where userIdx = #{userIdx} order by desc
	</select>
	
	<!-- 글 댓글지우기? -->
	<delete id="deleteCommentByIdx" parameterType="int">
		delete from Daangn_comment where idx = #{idx}
	</delete>
	
	<!-- 댓글수정불가? 하게? 1회용으로만? -->
	<update id="updateComment" parameterType="DaangnCommentVO">
		update Daangn_comment set content = #{content}, regDate = sysdate, score = #{score} where idx = #{idx}
	</update>
	
	<!-- 계정 삭제시 -->
	<!-- UserIdx에 해당하는 댓글 지우기 -->
	<delete id="deleteCommentByUserIdx" parameterType="int">
		delete from Daangn_comment where userIdx = #{userIdx} or writerIdx = #{userIdx}
	</delete>
</mapper>